*{
	padding:0;
	margin:0;
}

.home{
	background: url(../images/closeup.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.home > div > h1 {
	font-size: 100px;
	color: white;
} 

.btn {
	background-color: black;
	color: white;
	border-style: none;
	padding: 10px 30px;
	border-radius: 5px;
	transition: .4s;
}

.btn:hover{
	background-color: brown;
}

.our_story{
	background-image: url(../images/closecup.jpg);
	background-color: white;
	background-position: center;
	background-size: cover;
	text-align: center;
	justify-content: center;
	align-items: center;
	height: 100vh;
	display: flex;
}

.intro > p {
	margin-top: 5%;
	color: white;
	font-size: 20px;
	text-align: left;
	align-items: left;
	justify-content: center;

}

.left{
	height: 100vh;
	width: 50vw;
	justify-content: center;
	align-items: center;
}

.right{
	font-size: 20px;
	color: white;
	height: 100vh;
	width: 50vw;
	justify-content: center;
	align-items: center;
	margin-top: 5%;
}

h1{
	font-family: 'Julius Sans One', sans-serif;
}

.right >img {
	height: 200px;
	width: 200px;
	border-radius: 50%;
}

form > h4 {
	font-size: 50px;
	text-align: center;
}

input {
	display: block;
	border: 1px solid brown;
	margin: 10px auto;
	height: 40px;
	width: 400px;
	border-radius: 10px;
}

.navbar{
	display: inline;
	overflow: hidden;
	background-color: #333;
	position: fixed;
	top: 0;
	width: 100%;
}

.navbar a{
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.navbar a:hover {
	background: #ddd;
	color: black;
}

.ourstory {
	color: white;
	margin-top: 5%;
}

.contact_us {
	background-image: url(../images/stickers.jpg);
	text-align: center;
}

.contact_us > form > h4 {
	color: white;
}

.gallery_img > img {
	padding: 50px;
	transition: 2s;
	width: 200px;
	height: 200px;
	margin: 0;
}

.gallery_img > img:hover {
	-ms-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

.gallery {
	background-image: url(../images/wood.jpg);
}